body {
    font-family: sans-serif;
    background-color: #feffde;
    margin: 0;
    overflow: auto;
}

p {
    margin: 0;
}

#header {
    background-color: #91c788;
}

#header-logo {
    font-size: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    font-family: 'Nanum Pen Script', cursive;
}

#header-collapse {
    background-color: #777;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
}

#up {
    display: none;
}

.active,
#header-collapse:hover {
    background-color: #555;
}

#header-collapse-content-1, #header-collapse-content-2 {
    display: none;
    overflow: hidden;
    background-color: #bfcba8;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    padding: 0.5rem;
}

#header-collapse-content-2 {
    text-align: right;
}

a {
    text-decoration: none;
    text-decoration-color: black;
    font-weight: bold;
}

.file-upload {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 20px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1fb264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824b;
    transition: all 0.2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #1aa059;
    color: #ffffff;
    transition: all 0.2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all 0.2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #1fb264;
    position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #1fb264;
    border: 4px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824b;
    padding: 60px 0;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all 0.2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all 0.2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all 0.2s ease;
}

.loader {
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: block;
    vertical-align: top;
}

/*
  Set the color of the icon
*/
svg path,
svg rect {
    fill: #000;
}

#loading_ment {
    color: #000;
}

.bar-container {
    position: relative;
    height: 2.7rem;
}

.Bulldog-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(117, 204, 84, 0.2);
}

.Bulldog-bar {
    /* position: absolute; */
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(117, 204, 84, 1);
}

.Chihuahua-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(117, 204, 84, 0.2);
}

.Chihuahua-bar {
    /* position: absolute; */
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(117, 204, 84, 1);
}

.Maltese-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(27, 175, 234, 0.2);
}

.Maltese-bar {
    /* position: absolute; */
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(27, 175, 234, 1);
}

.Pomeranian-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(251, 176, 59, 0.2);
}

.Pomeranian-bar {
    /* position: absolute; */
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(251, 176, 59, 1);
}

.Welshcorgi-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(195, 140, 102, 0.2);
}

.Welshcorgi-bar {
    /* position: absolute; */
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(195, 140, 102, 1);
}

.Dalmatian-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(49, 132, 155, 0.2);
}

.Dalmatian-bar {
    /* position: absolute; */
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(49, 132, 155, 1);
}

.percent-text {
    font-size: 1rem;
    color: #ffffff;
}

.animal-label {
    width: 20%;
    text-align: left;
    height: 2rem;
}